<!-- <div class="page-header">
<h1>
Photos
<a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>
</h1>
</div> -->

<!-- <div class = "container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
<a href="/photos/new" class="btn btn-default btn-block">
<i class="fa fa-plus"></i>
</a>
<hr>
</div>
</div>
</div>

<% @photos.each do |photo| %>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><%=photo.user.username%> <%time_ago_in_words(photo.created_at)%> </h3>
</div>
<div class="panel-body">
<img src = "<%=photo.image%>" class="img-responsive">
<a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
<% if photo.user_id == current_user.id %>
<a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
<a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
<% end %>
</div>
</div>
<% end %> -->




<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="/photos/new" class="btn btn-default btn-block">
        <i class="fa fa-plus"></i>
      </a>
      <hr>
    </div>
  </div>

  <% @photos.each do |photo| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="/users/<%=current_user.id%>"><%=photo.user.username%></a>
            <small>
              <%=time_ago_in_words(photo.user.created_at)%> ago
            </small>
          </h3>
        </div>

        <div class="panel-body">
          <a href="/photos/<%=photo.id%>">
            <img src="<%=photo.image%>" class="img-responsive">
          </a>
          <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
          <% if photo.user_id == current_user.id %>
          <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>

          <% Comment.all.each do |comment| %>
          <%if comment.photo_id == photo.id%>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/147"><%=comment.user.username%></a>
                <small>
                  <%=time_ago_in_words(comment.created_at)%>
                </small>
              </h6>
              <%=comment.body%>
            </div>
          </li>
          <%end%>
          <%end%>

          <p>
            <form action="/create_like" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="b81/CiQOeFZtF9ra8v/ax3VXtgCd2BWeW3Nr/SVlVREkRAyk9O9s+ea6YEbWB4XptZY+LgbUv/316Z07g39tAw==">

              <input type="hidden" name="photo_id" value="<%=photo.id%>">

              <input type="hidden" name="user_id" value="<%=photo.user.id%>">

              <button class="btn btn-link">
                <i class = "fa fa-heart-o" aria-hidden="true"></i>
              </button>

              <small class="text-muted">be the first to like this</small>
            </form>
          </p>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>
